@font-face {
    font-family: 'dekar';
    src: url(/pixel-vh-vw-converter/Dekar-Regular.ttf);
}
*
{
    font-family: 'dekar';
    transition: 200ms ease-in-out;
}
body
{
    margin: 0;
    padding: 0;
    background: #e5eaf4;
}

a
{
    text-decoration: none;
    font-size: 1.5em;
    color: #6E62E4;
}

header
{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

main
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 60vh;
    width: 80vw;
    background: #f0f2fc;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    border: 5px solid #ffffff;
}
.crd
{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.15fr 2fr 0.5fr;
    height: 458px;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    align-content: space-around;
    width: 100%;
}
.ssvg
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200%;
}
.options_2nd, .option_1st
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
input[type="radio"]
{
    display: none;
}
label
{
    height: 4vw;
    width: 4vw;
    background: #DCDCFA;
    border-radius: 100px;
    color: #6E62E4;
}

.option_1st > :nth-child(4), .options_2nd > :nth-child(4)
{
    margin-top: 30px;
    margin-bottom: 30px;
} 

input
{
    display: flex;
    background: transparent;
    border: none;
    text-align: center;
    color: #a099e1;
    font-size: 8vw;
    width: 100%;
}
input:focus
{
    color: #6E62E4;
    border: none;
    outline: none;
}

input[type="radio"]:checked + label
{
    background: #6E62E4;
    color: white;
    box-shadow: 0px 5px 30px 1px #6E62E4;
}
span
{
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    user-select: none;
}

@media screen and (max-width: 600px) 
{
    main
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #f0f2fc;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 60px;
        border: 5px solid #ffffff;
        height: 80vh;
        width: 90vw;
    }
    .ssvg
    {
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(-90deg) scale(0.5);
        height: 10vh;
    }
    .crd
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }
    header
    {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        height: 8vh;
    }
    a
    {
        text-decoration: none;
        font-size: 1em;
        color: #6E62E4;
    }
    input[type='radio']
    {
        display: none;
    }
    label
    {
        height: 8vh;
        width: 8vh;
        background: #DCDCFA;
        border-radius: 100px;
        color: #6E62E4;
    }
    input
    {
        display: flex;
        background: transparent;
        border: none;
        text-align: center;
        color: #a099e1;
        font-size: 8vh;
        width: 100%;
        height: 20%;
    }
    input:focus
    {
        color: #6E62E4;
        border: none;
        outline: none;
    }
    .options_2nd, .option_1st
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .option_1st > :nth-child(4), .options_2nd > :nth-child(4)
    {
        margin-left: 30px;
        margin-right: 30px;
    } 

    input[type="radio"]:checked + label
    {
        background: #6E62E4;
        color: white;
        box-shadow: 0px 5px 30px 1px #6E62E4;
    }
    span
    {
        font-size: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        user-select: none;
    }
        
}
